body{
    background: rgb(138, 142, 150);
background: linear-gradient(90deg, rgb(0, 36, 16) 0%, rgb(41, 177, 201) 19%, rgba(0,212,255,1) 100%);
font-family: 'Poppins', sans-serif;
margin:0;
}
#form{
    width:400px;
    margin:20%;
    background-color: azure;
    border-radius: 5px;
    padding:10px;
}
h1{
    text-align:center;
    color: #792099

}
button{
    background-color: #792099;
    color:white;
    padding:5px;
    border:2px solid #792099;
    margin:20px 0px;
    cursor:pointer;
    width:100%;
    font-size:20px;
}
.input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.input-group input{
    padding:5px;
    border:1px solid #996399;
    border-radius : 5px;
    margin-top: 5px;
}
.input-group input:focus{
    outline: 0;
}
.input-group .error{
    color:red;
    font-size: 16px;
    margin-top: 5px;
}
.input-group.success input{
    border-color: green;

}
.input-group.error input{
    border-color:red;
}